$body--color: #E2E2E3;
$banner--color: #B9DAF0;
$nav--color: #707070;
$dec--red: #E74C3C;

$btn1-color: #485D72;
$btn2-color: #B9DAF0;
$btn3-color: #2980B9;
$btn4-color: #E74C3C;

$nav--font--color: #E74C3C;

$color1: #2980B9;
$color2: #69A8D2;
$color3: #B9DAF0;
$color4: #CFCFCF;
$color5: #343434;